<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Transaction" [(value)]="selected.transaction">
        <mat-option *ngFor="let transaction of transactions" [value]="transaction.code">
          {{transaction.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Client" [(value)]="selected.client" [disabled]="true">
        <mat-option *ngFor="let client of clients" [value]="client.code">
          {{client.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" placeholder="Choose a start date" [value]="selected.start.date">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <div class="time-dropdowns">
      <mat-form-field>
        <input type="text" placeholder="Hours" aria-label="Number" matInput [(ngModel)]="selected.start.hours" [matAutocomplete]="startHours">
        <mat-autocomplete #startHours="matAutocomplete">
          <mat-option *ngFor="let option of hours | autocompleteFilter:selected.start.hours" [value]="option.value">
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Minutes" aria-label="Number" matInput [(ngModel)]="selected.start.mins" [matAutocomplete]="startMins">
        <mat-autocomplete #startMins="matAutocomplete">
          <mat-option *ngFor="let option of mins | autocompleteFilter:selected.start.mins" [value]="option.value">
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="Choose a end date" [value]="selected.end.date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <div class="time-dropdowns">
      <mat-form-field>
        <input type="text" placeholder="Hours" aria-label="Number" matInput [(ngModel)]="selected.end.hours" [matAutocomplete]="endHours">
        <mat-autocomplete #endHours="matAutocomplete">
          <mat-option *ngFor="let option of hours | autocompleteFilter:selected.end.hours" [value]="option.value">
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Minutes" aria-label="Number" matInput [(ngModel)]="selected.end.mins" [matAutocomplete]="endMins">
        <mat-autocomplete #endMins="matAutocomplete">
          <mat-option *ngFor="let option of mins | autocompleteFilter:selected.end.mins" [value]="option.value">
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="submit-btn-wrapper">
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
  </mat-card-content>
</mat-card>
